.features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @include grid(1, 2, 4, $grid-gap)
}

.features__thumb {
  @include flexCenter;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 4px;
  background-color: $additional-color;
}

.features__icon {
  margin: 0 auto;
}

.features__title {
  margin-bottom: 10px;
  @include title($secondary-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
