.features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__list {
  // justify-content: space-between;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-left: 30px;
  }
}

.features__item .features__thumb {
  @include flexCenter;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 4px;
  background-color: $additional-color;
}

.features__icon {
  margin: 0 auto;
}

.features__heading,
.projects__heading {
  display: none;
}

.features__title {
  margin-bottom: 10px;
  @include title($secondary-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
