.section.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: $contrast-base-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-480.jpg");
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-768.jpg");
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-1600.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-960.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-1536.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    (min-resolution: 192dpi) and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-3200.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $contrast-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $contrast-color;
  background-color: $accent;
  border-radius: 4px;
  transition: background-color $transition-function;

  &:hover,
  &:focus {
    background-color: $button-color;
  }
}
