body {
  // min-width: 1200px;
  font-family: Roboto, sans-serif;
  color: $primary-color;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.accent {
  color: $accent;
}

.screeen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.button {
  font: inherit;
  border: none;
  color: $contrast-color;
  cursor: pointer;
}

