@mixin title($color) {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexStart() {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin socials($color, $bgColor, $alterColor, $alterBgColor) {
  &__soc-list {
    @include flexCenter;
  }

  &__soc-item:not(:first-child) {
    margin-left: 10px;
  }

  &__soc-link {
    @include flexCenter;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $color;
    background-color: $bgColor;
    transition: color $transition-function,
      background-color $transition-function;

    &:hover,
    &:focus {
      color: $alterColor;
      background-color: $alterBgColor;
    }
  }

  &__soc-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

@mixin grid(
  $mobile-raw-elements,
  $tablet-raw-elements,
  $desktop-raw-elements,
  $gap
) {
  $raw-elements: $mobile-raw-elements;

  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  gap: $gap;

  &__item {
    flex-basis: calc((100% - (($raw-elements - 1) * $gap)) / $raw-elements);
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    $raw-elements: $tablet-raw-elements;
    &__item {
      flex-basis: calc((100% - (($raw-elements - 1) * $gap)) / $raw-elements);
    }
  }

  @media (min-width: 1200px) {
    $raw-elements: $desktop-raw-elements;
    &__item {
      flex-basis: calc((100% - (($raw-elements - 1) * $gap)) / $raw-elements);
    }
  }
}
