@mixin title($color) {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexStart() {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}